<section id="$idprefix$title-slide" $for(title-slide-attributes/pairs)$ $it.key$="$it.value$" $endfor$
    class="quarto-title-block">
    <h1 class="title">$title$</h1>
    <img id="profile-photo" src="assets/images/profile/nardi.jpg">
    $if(subtitle)$
    <p class="subtitle">$subtitle$</p>
    $endif$

    <div class="quarto-title-authors">
        $for(by-author)$
        <div class="quarto-title-author">
            <div class="quarto-title-author-name">
                $if(by-author.url)$<a href="$by-author.url$">$endif$$if(by-author.name.literal)$$by-author.name.literal$$endif$$if(by-author.url)$</a>$endif$
            </div>
            $if(by-author.email)$
            <div class="quarto-title-author-email">
                <a href="mailto:$by-author.email$">$by-author.email$</a>
            </div>
            $endif$ <!-- if(by-author.email) -->
            $if(by-author.affiliations)$
            $for(by-author.affiliations)$
            <p class="quarto-title-affiliation">
                $if(it.url)$
                <a href="$it.url$">
                $endif$
                $it.name$
                $if(it.url)$
                </a>
                $endif$
            </p>
            $endfor$ <!-- for(by-author.affiliations) -->
            $endif$ <!-- if(by-author.affiliations) -->
        </div>
        $endfor$ <!-- for(by-author) -->
    </div>

    $if(date)$
    <p class="date"><u>$date$</u></p>
    $endif$
</section>